.Container{
    margin-top: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.Ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.Li{
    margin-right: 10px;
    height: 48px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.Creneaux{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 950px) {

}